Xml/renninfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns="" id="User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CT_RennInfo">
    <xs:attribute name="Einzelgewicht" type="xs:float" use="optional" />
    <xs:attribute name="Durchschnittsgewicht" type="xs:float" use="optional" />
    <xs:attribute name="GewichtSteuermann" type="xs:float" use="optional" />
    <xs:attribute name="Kinderrennen" type="xs:boolean" use="optional" />
  </xs:complexType>
</xs:schema>